*, *::placeholder, body {
    font-family: monospace;
}

form {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    max-width: max-content;
    gap: 5px;

    input, button {
        cursor: pointer;
    }
}